@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li class="nav-item">
        <form action="@Url.Action("Index", "Account")">
            <button class="btn nav-link text-info">Account</button>
        </form>
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <button class="btn nav-link text-danger" href="javascript:document.getElementById('logoutForm').submit()">Log out</button>
        }
    </li>
}
else
{
    <li class="nav-item">
        <form action="@Url.Action("Register", "Account")">
            <button class="btn nav-link text-success">Register</button>
        </form>
    </li>
    <li class="nav-item">
        <form action="@Url.Action("Register", "Login")">
            <button class="btn nav-link text-success" >Log in</button>
        </form>
    </li>

}
