body{
    height: 100vh;
}
.gamespace {
    width: 300px;
    height: 250px;
}
.gamespace .card-body {
    padding: 0;
}
.gamespace img{
    top: 0;
    position: relative;
    width: 300px;
    overflow: hidden;

}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.navbar {
    z-index: 20;
}
.navbar-vertical{
    width: 80px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.vertical-item{
    margin-bottom: 20px;
}
.icon {
    width: 40px;
    height: 40px;
}
.character{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.toolbar-item{
    margin-top: 13px;
}
.toolbar{
    margin-top: 56px;
    margin-left: 80px;
}
.navbar-main {
    z-index: 1000;
    top: 0;
    width: 100%;
    position: absolute;
}
.notifications img{
    width: 20px;
    height: 20px;
}
.notifications p {
    position: absolute;
}
.gamespace-content{
    margin: 10px 7% 10px 100px;
}
.stat-table {
    text-align: center;
    border-radius: 5px;
    background-color: #e9ecef;
    width: 120px;
}
.stat{
}
.stat p{
    margin-bottom: 0px;
}
.stat-table .stat {
    padding: 5px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.stat .value {
    width: 30px;
    height: 25px;
    margin: auto;
    margin-bottom: 5px;
    border-color: #333;
    border-radius: 50%;
    border: 1px solid;
}
.character-props{
    margin-top: 30px;
}