body {
    height: 100vh;
    background: url(https://dndmate.blob.core.windows.net/dndmate/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}
ul{
    list-style:none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gamespace {
    width: 300px;
    height: 250px;
}

.gamespace .card-body {
    padding: 0;
}

.gamespace img {
    top: 0;
    position: relative;
    width: 300px;
    overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.navbar{
    padding-top: 9px ;
    padding-bottom: 9px ;
}
.navbar {
    z-index: 10;
}
.navbar-vertical ul {
    position: relative;
    top: 0;
}
.navbar-vertical {
    width: 60px;
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 20;
}

.vertical-item {
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}

.character {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.toolbar-item {
    margin-top: 13px;
}

.toolbar {
    margin-top: 60px;
    margin-left: 50px;
}

.toolbar-no-left-margin {
    margin-top: 56px;
    flex-direction: row;
}

.navbar-main {
    z-index: 1000;
    top: 0;
    width: 100%;
    position: absolute;
}

.notifications img {
    width: 20px;
    height: 20px;
}

.notifications p {
    position: absolute;
}

.gamespace-content {   
    padding: 10px 6% 50px 70px;
    max-height: calc(100vh - 130px);
    overflow: scroll;
}
.content{
    padding: 0 6% 50px 6%;
    max-height: calc(100vh - 130px);
    overflow: scroll;
}

.second-table {
    padding-left: 0;
}
.gamespace-content::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
}

.gamespace-content, .content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.stat-table {
    text-align: center;
    border-radius: 5px;
    background-color: #e9ecef;
    width: 120px;
    padding: 0.1px 10px;
}

.stat-table .stat {
    padding: 5px;
    background-color: white;
    margin: 15px auto;
    border-radius: 5px;
    height: 118px;
    width: 100px;
}

.stat .value {
    background-color: white;
    width: 30px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    border-color: #333;
    border-radius: 50%;
    border: 1px solid;
}

.saving-throws {
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    width: 200px;
}

.saving-throws table{
    width: 200px;
}

.saving-throws th, .saving-throws td {
    padding-right: 10px;
}

.accordion {
    margin-top: 10px;
}

.field-validation-error {
    color: #df382c !important;
}

.description {
    overflow-wrap: break-word;
}

.player-card {
    height: 52px;
    max-width: 100% !important;
    width: 100%;
    border-radius: calc(0.25rem - 1px);
    border: 1px solid;
    border-color: #dfdfdf;
    padding-top: 5px;
    padding-left: 20px;
    overflow: hidden;
}

.btn-long {
    height: 52px;
    max-width: 100% !important;
    width: 100%;
    text-align: left;
    padding: 0;
    border-radius: calc(0.25rem - 1px);
}

.space-right {
    margin-right: 20px;
}
.props-table{
    width: 315px;
    font-size: 1.1rem;
}
.slots-table{
    margin-left: 50px;
}
.slots-table td{
    padding-left: 15px;
}
.slots-table a{
    padding: 0  10px 20px;
    height: 20px;
}
.hp-input{
    width: 110px;
}
.floating-input {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
    cursor: auto;
}
.character-button{
    border:none;
    background: none;
}
.badge{
    width: 80px;
}
.legendary{
    background-color: red;
}
.unique{
    background-color: rebeccapurple;
}
.very-rare{
    background-color: darkorange;
}
.rare{
    background-color: gold;
}
.common{
    background-color: green;
}
.unknown{
    background-color: gray;
}
.form-check-input{
    border-radius: 8px;
}