@model DndMate.WebApp.ViewModels.GamespacePropsViewModel
@using Microsoft.AspNet.Identity;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_GamespaceTools", Model)
<div class="gamespace-content">

    <h2>@Model.Gamespace.Name</h2>
    <p>@Model.Gamespace.Description</p>

    
</div>